/* Importing Main CSS */

@import "/main.css";

/* Making Body Full Height */

body {
	min-height: 100vh;
}

/* Question Section */

.question-section {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	justify-content: center;
	align-items: center;
}

/* Question Container */

.question-container {
	display: flex;
	flex-direction: column;
	width: 70%;
	gap: var(--space-md);
	background-color: var(--white);
	border-radius: var(--border-rad-lg);
	padding: var(--space-lg);
	margin: var(--space-lg);
}

/* Question */

.question {
	font-size: 1.5rem;
	font-weight: 700;
}

/* Question Container */

.options-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: var(--space-sm);
}

.question-option {
	font-size: 1rem;
	font-weight: 500;
	width: 50%;
	color: var(--white);
	background-color: var(--black);
	text-align: center;
	padding: var(--space-sm);
	border-radius: var(--border-rad-lg);
	cursor: pointer;
}

.question-option:hover {
	background-color: var(--secondary-color);
}

.selected-option {
	background-color: var(--secondary-color);
}

/* Card Button */

.question-section a {
	text-decoration: none;
}

.card-button {
	width: fit-content;
	font-size: 1.5rem;
	background-color: var(--green);
	color: var(--white);
	padding: var(--space-sm) var(--space-lg);
}

/* Responsive Parameters */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.question-option {
		width: 100%;
	}
}
